:root {
    --border: 1px solid black;
    --margin: 1rem;
    --background-color: aquamarine;
    --text-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: 5px;
}

h1 {
    color: var(--text-color);
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: var(--margin);
}

p {
    padding: 1rem;
    text-align: justify;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: auto;
    left: 132.5px;
}

aside img {
    width: 200xp;
    height: auto;
}

footer {
    margin-top: var(--margin);
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
}