:root {
    --border: 1px solid black;
    --margin: 1rem;
    --background-color: aquamarine;
    --text-color: black;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--text-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: var(--margin);
    border: var(--border);
    padding: 3px;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: var(--margin);
    border-top: var(--border);
    text-align: center;
}